$ColorPurple1: #4E008D //--cor1: #4E008D
$ColorPurple2: #514995//--cor6: #514995
$ColorPurple3: #4B4772//--cor4: #4B4772 $MenuBg: #4B4772
$ColorPurple4: #483E63//--cor3: #483E63
$ColorPurple5: #3F3A6F //--cor10: #3F3A6F $BgPage: #3F3A6F
$ColorPurple6: #443960//--bgCard: #443960 $MenuColor: #443960
$ColorPurple7: #44396099//--bgCardOpacity: rgba(68, 57, 96, 0.6)
$ColorBlack: #151319 //--cor5: #151319 $Black: #151319
$ColorGrey1: #39304F//--cor9: #39304F
$ColorGrey2: #6D6E7B//--cor2: #6D6E7B
$ColorWhite: #E9EBE4//--cor7: #E9EBE4 $White: #E9EBE4
$ColorYellow: #ECB757//--cor8: #ECB757 $Yellow: #ECB757
$FontText1: 'Francois One' //--text1: 'Francois One'
$FontText2: 'Ubuntu' //--text2: 'Ubuntu'
$ColorTextGradient: linear-gradient(90deg, #ECB757, #4E008D)//--colorTextGradient: linear-gradient(90deg, #ECB757, #4E008D)
$PageTextFont: 'Ubuntu'
$MenuHeight: 90vw
$MediaDesktop: 768px
