@use 'defaut'
*
    margin:0
    padding: 0
    box-sizing: border-box
body 
    background: url(../img/bgpage.png), #3F3A6F
    width: 100%
header
    position: relative
    background: defaut.$MenuBg
    height: defaut.$MenuHeight
    color: defaut.$White
    border-radius: 0 0 4.6875vw 4.6875vw
    min-height: 292px
nav
    font-family: defaut.$MenuFont
    color: defaut.$White
    font-size: 4vw
    flex-direction: row
    padding-top: 20px 
nav ul
    display: grid
    grid-template-columns: 28vw 28vw 28vw
    grid-template-rows: 10vw 10vw 10vw
    grid-gap: 4vw
    padding: 0  
nav ul li
    text-align: center
    display: inline-block
    background: defaut.$MenuColor
    border-radius: 1.562vw
nav ul li img
    transform: translateY(-14px)
    width: 29vw
nav ul li.user , nav ul li.gambiarra
    background: none
nav ul li a
    text-decoration: none
    color: defaut.$White
.tech
    margin-top: 20px
    opacity: 0.4
    text-align: center
.tech-content img
    width: 6.25vw
    min-width: 25px
.tech p 
    margin-top: 10px
    font-size: 4vw
.MenuPush
    position: absolute
    bottom: 2vw
    transform: translatex(43.5vw)
    width: 13.125vw
    min-width: 42
    height: 1.562vw
    max-height: 5px
    border-radius: 1vw
    background: defaut.$White
    