@use 'defaut'
*
    margin:0
    padding: 0
    box-sizing: border-box
body 
    background: url(../img/bgpage.png), #3F3A6F
    width: 100%
header
    position: absolute
    width: 100vw
    height: defaut.$MenuHeight
    min-height: 292px
    z-index: 1000
    color: defaut.$White
    background: defaut.$MenuBg
    border-radius: 0 0 4.6875vw 4.6875vw
    top: -80vw
    transition: 0.2s
    @media screen and(min-width: 768.2px) 
        ransition: 0s
        margin-left: 1.745789737084vw
        width: 11.382549085789vw
        height: 46vw
        top: 0
header.active
    top: 0
    transition: 1s
    @media screen and(min-width: 768.2px) 
        margin-left: 1.745789737084vw
        width: 11.382549085789vw
        height: 46vw
        transition: 0s
        top: 0
/* MENU MOBILE */
nav.mobile
    position: relative
    font-family: defaut.$MenuFont
    color: defaut.$White
    font-size: 4vw
    flex-direction: row
    padding-top: 20px 
    @media screen and(min-width: 768.2px) 
        visibility: hidden
        position: absolute
nav.mobile ul
    display: grid
    grid-template-columns: 28vw 28vw 28vw
    grid-template-rows: 10vw 10vw 10vw
    grid-gap: 4vw
    padding: 0  
nav.mobile ul li
    text-align: center
    display: inline-block
    background: defaut.$MenuColor
    border-radius: 1.562vw
nav.mobile ul li img
    transform: translateY(-14px)
    width: 29vw
nav.mobile ul li.user , nav ul li.gambiarra
    background: none
nav.mobile ul li a
    position: absolute
    transform: translate(-50%, 25%)
    text-decoration: none
    color: defaut.$White
.MenuPush
    position: absolute
    bottom: 1.9788918205805vw
    width: 100%
    height: vw
    @media screen and(min-width: 768.2px) 
        display: none
.MenuPush-Button
    transform: translate(43.5vw, 1vw)
    width: 13.125vw
    min-width: 42
    height: 1.562vw
    max-height: 5px
    border-radius: 1vw
    background: defaut.$White
    cursor: pointer
    border: none
    @media screen and(min-width: 768.2px) 
        display: none
        visibility: hidden
/* MENU DESKTOP */
nav.desktop
    font-family: defaut.$MenuFont
    color: defaut.$White
    font-size: 1.6438356164384vw
    flex-direction: row
    padding-top: 1.3966317896673vw
    @media screen and(max-width: 768.2px)
        visibility: hidden
        position: absolute
nav.desktop ul
    display: grid
    grid-template-columns: 8.4496223274871vw
    grid-template-rows: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw
    grid-gap: 0.5vw
    padding: 0  
nav.desktop ul li
    position: relative
    text-align: center
    display: inline-block
    background: url(../img/bgmenu.png), defaut.$MenuColor
    border-radius: 1.2838356164384vw
    box-shadow: 0.20949476845009vw 0.34915794741681vw 0.34915794741681vw rgba(21, 19, 25, 0.2)
nav.desktop ul li img.corda
    position: absolute
    bottom: 0
    transform: translate(-50% , 70%)
    width: 5.5vw
    height: 2vw
    z-index: 100


nav.desktop ul li img
    width: 5.586527158669vw
nav.desktop ul li.user
    background: none
    box-shadow: none
nav.desktop ul li a
    position: absolute
    transform: translate(-50%, 25%)
    text-decoration: none
    color: defaut.$White

.tech
    margin-top: 1.5625vw
    opacity: 0.4
    text-align: center
.tech-content img
    width: 6.25vw
    min-width: 25px
    @media screen and(min-width: 768.2px) 
        width: 0.8vw
        min-width: 0px
.tech p 
    margin-top: 10px
    font-size: 4vw
    @media screen and(min-width: 768.2px) 
        font-size: 1.5vw
        margin-top: 0.5vw

